* {
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
}
html, body {
	background-color: #dcdcdc;
}
body {
	font-family: Arial;
	color: #000;
	text-align: center;
}
h1 {
	font-size: 55px;
    line-height: 1.3em;
    font-weight: bold;
    margin-bottom: 20px;
}
h1 + p {
	opacity: 0.7;
	font-size: 17px;
	margin-bottom: 19px;
}

.github {
	position: fixed;
	right: -44px;
	top: -15px;
	width: 130px;
	height: 70px;
	z-index: 9;
	transform: rotate(45deg);
}
.github:after {
	background: #f7f7f7 url(../img/github-logo.png) no-repeat center 82%;
	background-size: 38% auto;
	content: '';
	display: block;
	width: 100%;
	height: 100%;
}
.dicson {
	position: fixed;
	left: -44px;
	top: -15px;
	width: 130px;
	height: 70px;
	z-index: 9;
	transform: rotate(-45deg);
}
.dicson:after {
	background: #f7f7f7 url(../img/dicson-logo.jpg) no-repeat center 82%;
	background-size: 38% auto;
	content: '';
	display: block;
	width: 100%;
	height: 100%;
}
body .wrap > input[type=radio] {
	display: none;
}
.flex-box {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.flex-box .wrap {
	width: 90%;
	padding: 50px 0;
}
#tab-1:checked ~ .tab label:nth-child(1),
#tab-2:checked ~ .tab label:nth-child(2),
#tab-3:checked ~ .tab label:nth-child(3),
#tab-4:checked ~ .tab label:nth-child(4) {
	color: #8d0505;
}
.content > div {
	display: none;
}
#tab-1:checked ~ .content div:nth-child(1),
#tab-2:checked ~ .content div:nth-child(2),
#tab-3:checked ~ .content div:nth-child(3),
#tab-4:checked ~ .content div:nth-child(4)  {
	display: block;
}
.tab {
	display: flex;
    align-items: center;
    justify-content: center;
	margin-bottom: 30px;
}
.tab label {
	cursor: pointer;
	color: #000;
	font-size: 18px;
	display: inline-flex;
    align-items: center;
	text-transform: uppercase;
}
.tab label:after {
	color: #000;
	cursor: default;
	content: '/';
	margin: 0 30px;
	font-family: serif;
	font-size: 2.8em;
}
.tab label:last-child:after {
	display: none;
}
.content {
	height: 166px;
}
.loading {
	width: 166px;
	height: 166px;
	position: relative;
	margin: 0 auto;
}
.loading1:before, .loading1:after, .loading3:after, .loading3:before {
	content: "";
}
.loading1:before, .loading1:after, .loading3:after, .loading3:before, .loading3 span {
	border-radius: 50%;
	background-color: #000;
	width: 26px;
	height: 26px;
	position: absolute;
	left: 0;
	top: 0;
}
.loading1:before {
	box-shadow: 45px 19px 0px 0px #000, 62px 63px 0px 0px #000, 45px 107px 0px 0px #000, 0px 126px 0px 0px #000, -46px 107px 0px 0px #000, -63px 63px 0px 0px #000, -46px 19px 0px 0px #000;
}
.loading1 span {
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	font-style: normal;
	text-align: center;
	opacity: 0.7;
	text-transform: uppercase;
	font-size: 16px;
	transform: translateY(-50%);
	letter-spacing: 1px;
}
.loading1:before, .loading1:after {
	left: 72px;
	top: 8px;
	animation: rotate 6s linear;
	animation-iteration-count: infinite;
	transform-origin: 12px 76px;
}
.loading1:after {
	animation-direction: reverse;
}
@keyframes rotate {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(-360deg); }
}
/* Loader 2 */
.bubbles-splite {
	width: 500px;
	height: 160px;
	white-space: nowrap;
	position: relative;
	margin: 0 auto;
}
.maskSVG {
	position: absolute;
	left: 0;
	top:0;
	z-index: -1;
}
.bubbles-splite span {
	background-color: #000;
	border-radius: 50%;
	color: #fff;
	font-size: 25px;
	line-height: 53px;
	float: left;
	width: 50px;
	height: 50px;
	margin-right: 25px;
	position: relative;
	top: 55px;
}
.bubbles-splite span:nth-child(1) {
	width: 160px;
	height: 160px;
	position: absolute;
	left: 50%;
	top: 0;
	margin-left: -80px;
	z-index: 0;
}
.bubbles-splite span {
	animation-duration: 3.5s;
	animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-play-state: paused;
}
.bubbles-splite span:nth-child(1) {
	animation-name: big-bubble;
}
.bubbles-splite span:nth-child(2) {
	animation-name: move-pos-2-1;
	transform: translateX(225px);
	z-index: 7;
}
.bubbles-splite span:nth-child(3) {
	animation-name: move-pos-2-2;
	transform: translateX(150px);
	z-index: 6;
}
.bubbles-splite span:nth-child(4) {
	animation-name: move-pos-2-3;
	transform: translateX(75px);
	z-index: 5;
}
.bubbles-splite span:nth-child(6) {
	animation-name: move-pos-2-4;
	transform: translateX(-75px);
	z-index: 3;
}
.bubbles-splite span:nth-child(7) {
	animation-name: move-pos-2-5;
	transform: translateX(-150px);
	z-index: 2;
}
.bubbles-splite span:nth-child(8) {
	animation-name: move-pos-2-6;
	transform: translateX(-225px);
	z-index: 1;
}
.bubbles-splite span:nth-child(8) {
	margin-right: 0;
}
#tab-2:checked ~ .content div.bubbles-splite span {
	animation-play-state: running;
}
@keyframes move-pos-2-1 {
	0% { transform: translateX(225px); }
	90%, 100% { transform: translateX(0px); }
}
@keyframes move-pos-2-2 {
	0%, 20% { transform: translateX(150px); }
	90%, 100% { transform: translateX(0px); }
}
@keyframes move-pos-2-3 {
	0%, 40% { transform: translateX(75px); }
	90%, 100% { transform: translateX(0px); }
}
@keyframes move-pos-2-4 {
	0%, 40% { transform: translateX(-75px); }
	90%, 100% { transform: translateX(0px); }
}
@keyframes move-pos-2-5 {
	0%, 20% { transform: translateX(-150px); }
	90%, 100% { transform: translateX(0px); }
}
@keyframes move-pos-2-6 {
	0% { transform: translateX(-225px); }
	90%, 100% { transform: translateX(0px); }
}
@keyframes big-bubble {
	0%, 35% { transform: scale(1); }
	50% { transform: scale(0.7); }
	60% { transform: scale(0.5); }
	80% { transform: scale(0.3); }
	100% { transform: scale(0.3); }
}

/* Demo 3 */
.loading3:before, .loading3 span {
	animation-duration: 1.1s;
	animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
	animation-iteration-count: infinite;
	animation-play-state: paused;
}
.loading3:before {
	left: 72px;
	top: 8px;
	animation-name: c1;
}
.loading3 span:nth-child(1) {
	left: 117px;
	top: 27px;
	animation-name: c2;
}
.loading3 span:nth-child(2) {
	left: 134px;
	top: 71px;
	animation-name: c3;
}
.loading3 span:nth-child(3) {
	left: 117px;
	top: 115px;
	animation-name: c4;
}
.loading3 span:nth-child(4) {
	left: 72px;
	top: 134px;
	animation-name: c5;
}
.loading3 span:nth-child(5) {
	left: 26px;
	top: 115px;
	animation-name: c6;
}
.loading3 span:nth-child(6) {
	left: 9px;
	top: 71px;
	animation-name: c7;
}
.loading3 span:nth-child(7) {
	left: 26px;
	top: 27px;
	animation-name: c8;
}
.loading3:after {
	left: 72px;
	top: 72px;
}
#tab-3:checked ~ .content div.loading3:before, #tab-3:checked ~ .content div.loading3 span {
	animation-play-state: running;
}
@keyframes c1 {
	0%, 21%, 100% { transform: translate(0px, 0px); }
	11% { transform: translate(0px, 64px); }
}
@keyframes c2 {
	0%, 32%, 100% { transform: translate(0px, 0px); }
	22% { transform: translate(-45px, 45px); }
}
@keyframes c3 {
	0%, 43%, 100% { transform: translate(0px, 0px); }
	33% { transform: translate(-62px, 1px); }
}
@keyframes c4 {
	0%, 54%, 100% { transform: translate(0px, 0px); }
	44% { transform: translate(-45px, -43px); }
}
@keyframes c5 {
	0%, 65%, 100% { transform: translate(0px, 0px); }
	55% { transform: translate(0px, -62px); }
}
@keyframes c6 {
	0%, 76%, 100% { transform: translate(0px, 0px); }
	66% { transform: translate(46px, -43px); }
}
@keyframes c7 {
	0%, 87%, 100% { transform: translate(0px, 0px); }
	77% { transform: translate(63px, 1px); }
}
@keyframes c8 {
	0%, 100% { transform: translate(0px, 0px); }
	89% { transform: translate(45px, 45px); }
}


/* Loading 4 */
.loading4 {
	overflow: hidden;
}
.loading4 .shape-1 {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.loading4 .shape-1 span {
	display: block;
	height: 50%;
	width: 71%;
	background-color: transparent;
	border: 17px solid rgba(0, 0, 0, 0);
	border-top: 17px solid #000;
	border-radius: 50%;
	position: relative;
	transform: translate(35px, 6px) rotate(18deg);
}
.loading4 .shape-1 span:before, .loading4 .shape-1 span:after {
	content: '';
	background: #000;
	position: absolute;
	width: 17px;
	height: 17px;
	border-radius: 50%;
}
.loading4 .shape-1 span:before {
	left: -4px;
	top: -6px;
}
.loading4 .shape-1 span:after {
	right: -4px;
	top: -6px;
}
.loading4:after {
	background: #000;
	border-radius: 50%;
	content: '';
	width: 24px;
	height: 40px;
	position: absolute;
	left: 71px;
	top: 5px;
}
.loading4 .shape-1, .loading4:after {
	animation-duration: 1.5s;
	animation-timing-function: cubic-bezier(0.22, 0.2, 0.49, 0.88);
	animation-iteration-count: infinite;
	animation-play-state: paused;
}
.loading4:after {
	animation-name: moveDown;
	transform-origin: center top;
}
.loading4 .shape-1 {
	animation-name: rotate2;
	transform-origin: center;
}
#tab-4:checked ~ .content div.loading4 .shape-1, #tab-4:checked ~ .content div.loading4:after {
	animation-play-state: running;
}
@keyframes rotate2 {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}
@keyframes moveDown {
	0% { transform: translateY(0px) scale(0); }
	5% { transform: translateY(10px) scale(0.8); }
	10% { transform: translateY(40px) scale(1); }
	30% { transform: translateY(125px) scale(1);opacity: 1; }
	37% { transform: translateY(135px) scale(0.4);opacity: 1; }
	37.01% { transform: translateY(140px) scale(0);opacity: 0; }
	37.02%, 100% { transform: translateY(0px) scale(0);opacity: 0; }
}

